.articleBodyHolder {
   max-width: 860px;
   width: 90%;
   margin: 20px auto;
   font-size: 22px;
   line-height: 30px;
}
.customParagraphStyle {
   line-height: 1.75em;
   font-family: helvetica;
   white-space: normal;
}
/* headings */
h1.articleMainHeading {
   font-size: 42px;
   text-decoration: underline;
   font-family: helvetica;
}
h2.articleSubHeading {
   font-size: 32px;
   margin-top: 50px;
   font-family: helvetica;
}
h1.headingOne_article {
   font-size: 42px;
   text-decoration: underline;
   font-family: helvetica;
}
h2.headingTwo_article {
   margin-top: 50px;
   font-size: 32px;
   font-family: helvetica;
}
h3.headingThree_article {
   font-size: 28px;
   font-family: helvetica;
   font-style: italic;
}
.subheading_article {
   font-size: 28px;
   font-family: helvetica;
}
/* Single hand displays */
.singleHand {
   display: flex;
   flex-direction: column;
   width: 12%;
   margin: 25px auto;
   font-family: helvetica;
}
.singleSuit {
   display: flex;
   letter-spacing: 5px;
}
.suitSymbol {
	margin-right: 10px;
	width: 20px;
}
.suitSymbolRed {
   margin-right: 10px;
   width: 20px;
   color: red;
}
/* Traditional Auction Display */
.auctionDisplay {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   width: 400px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.compassDirections {
   display: flex;
   justify-content: space-between;
   font-variant: small-caps;
}
.compassBids {
   display: flex;
   justify-content: space-between;
}
.bidWidth {
   width: 75px;
   text-align: center;

   padding: 0;
   margin: 0;
}
/* Spans */
.red {
   color: red;
}
.lorim {
   color: red;
}
.insert {
   color: red;
   padding: 5px;
   border: 1px solid black;
}
.tens {
   letter-spacing: normal;
}
/* Image formatting */
img {
   max-width: 100%;
}
.contentBox {
   box-sizing: content-box;
}
.centerImage {
   display: block;
   margin: 50px auto;
}
.centerImageDashed {
   display: block;
   margin: 50px auto;
   border: dashed black;
   padding: 10px;            
}